body {
    background-color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    background-color: rgb(225, 225, 225);
}

.loginContainer {
    margin: 100px auto;
}

.it-card {
    -webkit-box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.45);
    background: rgb(255, 255, 255);
    border: none;
}

.banner{
    margin: 80px 10px;
    background-color: rgb(200, 200, 200);
    -webkit-box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.45);
}